.containerProjetos {
  min-height: 100vh;
  color: white;
  background-color: #13131f;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 150px;
}
.projetos {
  width: 140vh;
  min-height: 50vh;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 150px;
  cursor: pointer;
}
h1 {
  margin-bottom: 60px;
}
@media screen and (min-width: 360px) and (max-width: 800px) {
  .projetos {
    width: 45vh;
    min-height: 50vh;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 150px;
    cursor: pointer;
  }
}
