.containerBloco {
  height: 40vh;
  width: 65vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #8f60fc;
  background-color: black;
  transition: transform 0.3s;
  cursor: pointer;
}
.containerGeral {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}
.containerGeral:hover {
  transform: scale(1.1);
}
.imgProjeto {
  width: 70vh;
  opacity: 0.5;
}

.imgProjeto:hover {
  opacity: 1;
}
.divVerMais {
  display: flex;
  background-color: #212121;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px 15px 0px;
  font-family: "Roboto", sans-serif;
  border-radius: 0px 0px 20px 20px;
}

.btnVerMais {
  background-color: transparent;
  border: 1px solid #8f60fc;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  font-weight: 500;
  cursor: pointer;
}
span {
  font-size: 30px;
  gap: 10px;
}
.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  max-height: 45px;
}
.nomeProjeto {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 360px) and (max-width: 800px) {
  .containerBloco {
    height: 20vh;
    width: 45vh;
  }
  .imgProjeto {
    width: 46vh;
    opacity: 0.5;
  }
  .tecnologia1 {
    font-size: 2px;
  }
}
