.containerIcones {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18vh;
  height: 19vh;
  background-color: #212121;
  border-radius: 40px 0px 0px 0px;
  border-bottom: 3px solid #8f60fc;
  border-right: 3px solid #8f60fc;
  transition: transform 0.5s;
  cursor: pointer;
}
.containerIcones:hover {
  transform: scale(1.2);
}
.p_habilidade {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  color: #8f60fc;
}
span {
  font-size: 55px;
  color: #8f60fc;
}
@media screen and (min-width: 360px) and (max-width: 800px) {
  .containerIcones {
    width: 14vh;
    height: 15vh;
  }
}
