.containerIcones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  transition: transform 0.3s;
  cursor: pointer;
}
.containerIcones:hover {
  transform: scale(1.2);
}

span {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  font-size: 40px;
  margin-bottom: 15px;
}
.categoriaContato {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}
.valorContato {
  color: gray;
}
@media screen and (min-width: 360px) and (max-width: 800px) {
  .containerIcones {
    margin-bottom: 30px;
  }
}
