body {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(19, 19, 31);
  padding: 20px 0px 20px 0px;
  color: white;
  font-family: "Roboto", sans-serif;
  position: fixed;
  border-bottom: 1px solid #8f60fc;
  z-index: 1;
  width: 100%;
}
.menuResponse {
  display: none;
  cursor: pointer;
}
ul {
  display: flex;
  gap: 40px;
  list-style: none;
  color: inherit;
}
li {
  cursor: pointer;
}
li a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}
p a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}
li:hover {
  color: #8c68df;
}
.p_portifolio {
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .menuResponse {
    font-size: 30px;
    display: block;
  }
  .menuDesktop {
    display: none;
  }
  .p_portifolio {
  }
  nav {
    display: flex;
    gap: 20vh;
    align-items: center;
    max-width: 100%;
  }
}
